<% content_for(:title) do %>
<%= @cocktail.name %> avec modération siouplait
<% end %>


<% content_for(:description) do %>
<%= @cocktail.doses %>
<% end %>


<div class="text-center">
  <div class="container">
    <div class="row ">
      <div class="col-xs-12">

        <h1><%= @cocktail.name %> <%= link_to cocktail_path(@cocktail),
          method: :delete,
          data: { confirm: "Beurk?" } do%>
          <i class="fa fa-trash-o"></i>
          <%end%>
          <%= link_to  edit_cocktail_path(@cocktail) do  %>
          <i class="fa fa-pencil"></i>
          <%end%>
        </h1>

      </div>
    </div>
  </div>

</div>

<hr>

<div class="container">
  <div class="row ">
    <div class="col-xs-12 col-sm-6">

      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description ,input_html: { class: 'mannequin' } %>
      <%= f.association :ingredient,input_html: { class: 'mannequin' } %>
      <%= f.button :submit, "Complexification!", class: "btn-yours2" %>
      <% end %>

    </div>


    <div class="col-xs-12 col-sm-6">

      <ul>
        <% if @cocktail.doses != []%>
        <h2>Il vous faut:</h2>

        <% @cocktail.doses.each do |dose| %>
        <li><h3><%= dose.description %>  de <%= dose.ingredient.name %>     <%= link_to cocktail_dose_path(@cocktail, dose),
          method: :delete,
          data: { confirm: "Lopette!" } do%>
          <i class="fa fa-trash-o"></i>
          <%end%></h3>
        </li>

        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>




